---
- name: clone ssl expire soon | git
  git:
    repo: "https://github.com/stevenharradine/ssl-expire-soon.git"
    dest: "{{ ssl_expire_soon_path }}"
    update: yes
    force: yes

- name: copy configuration | template
  template:
    src: templates/domains.sh
    dest: "{{ ssl_expire_soon_path }}/domains.sh"
    mode: 0644

- name: run ssl expire soon | cron
  cron:
    name: "start ssl expire soon server"
    user: "{{ ssl_expire_soon_user }}"
    special_time: daily
    job: "cd {{ ssl_expire_soon_path }} && bash ssl-expire-soon.sh 30 'echo Will expire soon:' | grep 'expire soon:' > /tmp/ssl-expire-soon.log"
